.buildpath
.DS_Store
.externalToolBuilders
.externalToolBuilders/**/*
.idea
.IGNOREME
.modman
.project
.sass-cache/**
.settings
.settings/**/*
.svn
.vagrant/.vagrant
.vagrant/dump/*
.vagrant/machines/*
.custom/sql/*

*.cache.properties
*.swp
*~


build.properties
/build.properties

compass_app_log.txt

src/skin/frontend/base/default/aoe_templatehints
src/skin/frontend/enterprise/koempf24/css/app.css
src/skin/frontend/enterprise/koempf24/css/app-ie.css
src/skin/frontend/enterprise/koempf24/css/app-ie7.css
src/skin/frontend/enterprise/koempf24/images/sprites*.png

*app.css
*app*.css

src/app/code/community/Aoe
src/app/code/local/Alanstormdotcom
src/app/etc/modules/Allanstormdotcom_Layoutviewer.xml
src/app/etc/modules/Aoe_TemplateHints.xml
