<?xml version="1.0"?>
<config>
    <modules>
        <Flagbit_MageHealth>
            <version>1.0.0</version>
        </Flagbit_MageHealth>
    </modules>
    <global>
        <models>
            <magehealth>
                <class>Flagbit_MageHealth_Model</class>
                <resourceModel>cron_resource</resourceModel>
            </magehealth>
        </models>
        <cron_resource>
            <class>Flagbit_MageHealth_Model_Resource</class>
        </cron_resource>
        <helpers>
            <magehealth>
                <class>Flagbit_MageHealth_Helper</class>
            </magehealth>
        </helpers>
    </global>
    <default>
        <magehealth>
            <log>
                <clean_after_day>30</clean_after_day>
                <enabled>0</enabled>
                <time/>
                <frequency>D</frequency>
            </log>
            <quote>
                <older_than>30</older_than>
                <limit>5000</limit>
                <enabled>0</enabled>
                <time/>
                <frequency>D</frequency>
            </quote>
            <dataflow>
                <older_than>30</older_than>
                <enabled>0</enabled>
                <time/>
                <frequency>D</frequency>
            </dataflow>
        </magehealth>
    </default>
    <crontab>
        <jobs>
            <magehealth_log_clean>
                <run>
                    <model>magehealth/cron::logClean</model>
                </run>
            </magehealth_log_clean>
            <magehealth_quote_clean>
                <run>
                    <model>magehealth/cron::quoteClean</model>
                </run>
            </magehealth_quote_clean>
            <magehealth_dataflow_clean>
                <run>
                    <model>magehealth/cron::dataflowClean</model>
                </run>
            </magehealth_dataflow_clean>
        </jobs>
    </crontab>
</config>